@page
@model FinalPojects.Pages.Admin.IndexModel

<partial name="sidenav" />

<!-- (B) MAIN -->
<style>
    #pgmain{
        background-color:white !important;
    }
</style>
<main id="pgmain">
    <img src="~/images/cms.svg" />
</main>
